USE [HospitalInventoryDb]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[OccurredAt] [datetime2](0) NOT NULL,
	[UserId] [int] NULL,
	[EntityName] [nvarchar](80) NOT NULL,
	[EntityId] [nvarchar](50) NULL,
	[ActionType] [nvarchar](30) NOT NULL,
	[Summary] [nvarchar](300) NOT NULL,
	[DetailsJson] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[MachineName] [nvarchar](80) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Batches]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[BatchId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[BatchCode] [nvarchar](60) NOT NULL,
	[ReceivedDate] [date] NOT NULL,
	[ExpiryDate] [date] NULL,
	[InitialQty] [decimal](18, 3) NOT NULL,
	[CurrentQty] [decimal](18, 3) NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
	[LocationCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Batches_Item_Batch] UNIQUE NONCLUSTERED 
(
	[ItemId] ASC,
	[BatchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Categories_Name] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](30) NULL,
	[DepartmentName] [nvarchar](150) NOT NULL,
	[Notes] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Departments_Code] UNIQUE NONCLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Departments_Name] UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCategories]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategories](
	[ItemId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ItemCategories] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[ItemName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[UnitOfMeasure] [nvarchar](30) NOT NULL,
	[ReorderLevel] [decimal](18, 3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[MinStok] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requisition_Details]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisition_Details](
	[RequisitionDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequisitionId] [bigint] NOT NULL,
	[ItemId] [int] NOT NULL,
	[RequestedQty] [decimal](18, 2) NOT NULL,
	[FulfilledQty] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Requisition_Details] PRIMARY KEY CLUSTERED 
(
	[RequisitionDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RequisitionDetails_Requisition_Item] UNIQUE NONCLUSTERED 
(
	[RequisitionId] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequisitionFulfillmentLinks]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisitionFulfillmentLinks](
	[LinkId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequisitionDetailId] [bigint] NOT NULL,
	[TransactionDetailId] [bigint] NOT NULL,
	[FulfilledQty] [decimal](18, 3) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_RequisitionFulfillmentLinks] PRIMARY KEY CLUSTERED 
(
	[LinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RFL_UniqueLink] UNIQUE NONCLUSTERED 
(
	[RequisitionDetailId] ASC,
	[TransactionDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requisitions]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisitions](
	[RequisitionId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequisitionNo] [nvarchar](30) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RequestedByUserId] [int] NOT NULL,
	[ApprovedByUserId] [int] NULL,
	[RequestDate] [datetime2](0) NOT NULL,
	[DecisionDate] [datetime2](0) NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_Requisitions] PRIMARY KEY CLUSTERED 
(
	[RequisitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Requisitions_No] UNIQUE NONCLUSTERED 
(
	[RequisitionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](80) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocktake_Details]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocktake_Details](
	[StocktakeDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[StocktakeId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[SystemQty] [decimal](18, 2) NOT NULL,
	[PhysicalQty] [decimal](18, 2) NULL,
	[Difference]  AS (isnull([PhysicalQty],(0))-[SystemQty]),
	[ReasonId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StocktakeDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocktakes]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocktakes](
	[StocktakeId] [int] IDENTITY(1,1) NOT NULL,
	[StocktakeNo] [nvarchar](30) NOT NULL,
	[StocktakeDate] [datetime2](0) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PostedByUserId] [int] NULL,
	[PostedAt] [datetime2](0) NULL,
	[CancelledByUserId] [int] NULL,
	[CancelledAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[StocktakeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Stocktakes_No] UNIQUE NONCLUSTERED 
(
	[StocktakeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Details]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Details](
	[TransactionDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[TransactionId] [bigint] NOT NULL,
	[BatchId] [bigint] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
	[StocktakeDetailId] [int] NULL,
	[SupplierRef] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionReasons]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionReasons](
	[ReasonId] [int] IDENTITY(1,1) NOT NULL,
	[ReasonCode] [nvarchar](40) NOT NULL,
	[ReasonName] [nvarchar](150) NOT NULL,
	[Scope] [char](1) NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_TransactionReasons] PRIMARY KEY CLUSTERED 
(
	[ReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TransactionReasons_Code] UNIQUE NONCLUSTERED 
(
	[ReasonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [bigint] IDENTITY(1,1) NOT NULL,
	[TransactionNo] [nvarchar](30) NOT NULL,
	[TransactionType] [char](1) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[DepartmentId] [int] NULL,
	[CreatedByUserId] [int] NULL,
	[ReasonId] [int] NULL,
	[SupplierId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TransactionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/23/2026 11:59:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](80) NOT NULL,
	[DisplayName] [nvarchar](150) NOT NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[PasswordSalt] [varbinary](32) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[LastLoginAt] [datetime2](0) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_OccurredAt]  DEFAULT (sysutcdatetime()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[Batches] ADD  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [ReceivedDate]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [DF_Departments_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [DF_Departments_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ItemCategories] ADD  CONSTRAINT [DF_ItemCategories_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Requisition_Details] ADD  CONSTRAINT [DF_RequisitionDetails_FulfilledQty]  DEFAULT ((0)) FOR [FulfilledQty]
GO
ALTER TABLE [dbo].[RequisitionFulfillmentLinks] ADD  CONSTRAINT [DF_RequisitionFulfillmentLinks_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Requisitions] ADD  CONSTRAINT [DF_Requisitions_RequestDate]  DEFAULT (sysutcdatetime()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Stocktakes] ADD  CONSTRAINT [DF_Stocktakes_Date]  DEFAULT (sysutcdatetime()) FOR [StocktakeDate]
GO
ALTER TABLE [dbo].[Stocktakes] ADD  CONSTRAINT [DF_Stocktakes_Status]  DEFAULT (N'Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Stocktakes] ADD  CONSTRAINT [DF_Stocktakes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TransactionReasons] ADD  CONSTRAINT [DF_TransactionReasons_IsSystem]  DEFAULT ((0)) FOR [IsSystem]
GO
ALTER TABLE [dbo].[TransactionReasons] ADD  CONSTRAINT [DF_TransactionReasons_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TransactionReasons] ADD  CONSTRAINT [DF_TransactionReasons_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (sysutcdatetime()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [DF_UserRoles_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_Batches_Items]
GO
ALTER TABLE [dbo].[ItemCategories]  WITH CHECK ADD  CONSTRAINT [FK_ItemCategories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[ItemCategories] CHECK CONSTRAINT [FK_ItemCategories_Categories]
GO
ALTER TABLE [dbo].[ItemCategories]  WITH CHECK ADD  CONSTRAINT [FK_ItemCategories_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemCategories] CHECK CONSTRAINT [FK_ItemCategories_Items]
GO
ALTER TABLE [dbo].[Requisition_Details]  WITH CHECK ADD  CONSTRAINT [FK_RequisitionDetails_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[Requisition_Details] CHECK CONSTRAINT [FK_RequisitionDetails_Items]
GO
ALTER TABLE [dbo].[Requisition_Details]  WITH CHECK ADD  CONSTRAINT [FK_RequisitionDetails_Requisitions] FOREIGN KEY([RequisitionId])
REFERENCES [dbo].[Requisitions] ([RequisitionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requisition_Details] CHECK CONSTRAINT [FK_RequisitionDetails_Requisitions]
GO
ALTER TABLE [dbo].[RequisitionFulfillmentLinks]  WITH CHECK ADD  CONSTRAINT [FK_RFL_RequisitionDetails] FOREIGN KEY([RequisitionDetailId])
REFERENCES [dbo].[Requisition_Details] ([RequisitionDetailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequisitionFulfillmentLinks] CHECK CONSTRAINT [FK_RFL_RequisitionDetails]
GO
ALTER TABLE [dbo].[RequisitionFulfillmentLinks]  WITH CHECK ADD  CONSTRAINT [FK_RFL_TransactionDetails] FOREIGN KEY([TransactionDetailId])
REFERENCES [dbo].[Transaction_Details] ([TransactionDetailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequisitionFulfillmentLinks] CHECK CONSTRAINT [FK_RFL_TransactionDetails]
GO
ALTER TABLE [dbo].[Requisitions]  WITH CHECK ADD  CONSTRAINT [FK_Requisitions_ApprovedBy] FOREIGN KEY([ApprovedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Requisitions] CHECK CONSTRAINT [FK_Requisitions_ApprovedBy]
GO
ALTER TABLE [dbo].[Requisitions]  WITH CHECK ADD  CONSTRAINT [FK_Requisitions_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Requisitions] CHECK CONSTRAINT [FK_Requisitions_Departments]
GO
ALTER TABLE [dbo].[Requisitions]  WITH CHECK ADD  CONSTRAINT [FK_Requisitions_RequestedBy] FOREIGN KEY([RequestedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Requisitions] CHECK CONSTRAINT [FK_Requisitions_RequestedBy]
GO
ALTER TABLE [dbo].[Stocktake_Details]  WITH CHECK ADD  CONSTRAINT [FK_StocktakeDetails_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[Stocktake_Details] CHECK CONSTRAINT [FK_StocktakeDetails_Item]
GO
ALTER TABLE [dbo].[Stocktake_Details]  WITH CHECK ADD  CONSTRAINT [FK_StocktakeDetails_Reason] FOREIGN KEY([ReasonId])
REFERENCES [dbo].[TransactionReasons] ([ReasonId])
GO
ALTER TABLE [dbo].[Stocktake_Details] CHECK CONSTRAINT [FK_StocktakeDetails_Reason]
GO
ALTER TABLE [dbo].[Stocktake_Details]  WITH CHECK ADD  CONSTRAINT [FK_StocktakeDetails_Stocktake] FOREIGN KEY([StocktakeId])
REFERENCES [dbo].[Stocktakes] ([StocktakeId])
GO
ALTER TABLE [dbo].[Stocktake_Details] CHECK CONSTRAINT [FK_StocktakeDetails_Stocktake]
GO
ALTER TABLE [dbo].[Stocktakes]  WITH CHECK ADD  CONSTRAINT [FK_Stocktakes_CancelledBy] FOREIGN KEY([CancelledByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Stocktakes] CHECK CONSTRAINT [FK_Stocktakes_CancelledBy]
GO
ALTER TABLE [dbo].[Stocktakes]  WITH CHECK ADD  CONSTRAINT [FK_Stocktakes_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Stocktakes] CHECK CONSTRAINT [FK_Stocktakes_CreatedBy]
GO
ALTER TABLE [dbo].[Stocktakes]  WITH CHECK ADD  CONSTRAINT [FK_Stocktakes_PostedBy] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Stocktakes] CHECK CONSTRAINT [FK_Stocktakes_PostedBy]
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD  CONSTRAINT [FK_TD_Batch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batches] ([BatchId])
GO
ALTER TABLE [dbo].[Transaction_Details] CHECK CONSTRAINT [FK_TD_Batch]
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD  CONSTRAINT [FK_TD_Transaction] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transactions] ([TransactionId])
GO
ALTER TABLE [dbo].[Transaction_Details] CHECK CONSTRAINT [FK_TD_Transaction]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Departments]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Suppliers]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_TransactionReasons] FOREIGN KEY([ReasonId])
REFERENCES [dbo].[TransactionReasons] ([ReasonId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_TransactionReasons]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users_CreatedBy]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CK_AuditLogs_ActionType] CHECK  ((len([ActionType])>=(3)))
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [CK_AuditLogs_ActionType]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [CK_Batches_Qty] CHECK  (([InitialQty]>=(0) AND [CurrentQty]>=(0)))
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [CK_Batches_Qty]
GO
ALTER TABLE [dbo].[Requisition_Details]  WITH CHECK ADD  CONSTRAINT [CK_RequisitionDetails_Qty] CHECK  (([RequestedQty]>(0) AND [FulfilledQty]>=(0) AND [FulfilledQty]<=[RequestedQty]))
GO
ALTER TABLE [dbo].[Requisition_Details] CHECK CONSTRAINT [CK_RequisitionDetails_Qty]
GO
ALTER TABLE [dbo].[RequisitionFulfillmentLinks]  WITH CHECK ADD  CONSTRAINT [CK_RFL_FulfilledQty_Positive] CHECK  (([FulfilledQty]>(0)))
GO
ALTER TABLE [dbo].[RequisitionFulfillmentLinks] CHECK CONSTRAINT [CK_RFL_FulfilledQty_Positive]
GO
ALTER TABLE [dbo].[Requisitions]  WITH CHECK ADD  CONSTRAINT [CK_Requisitions_Status] CHECK  (([Status]='Cancelled' OR [Status]='Fulfilled' OR [Status]='Rejected' OR [Status]='Approved' OR [Status]='Submitted' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Requisitions] CHECK CONSTRAINT [CK_Requisitions_Status]
GO
ALTER TABLE [dbo].[Stocktake_Details]  WITH CHECK ADD  CONSTRAINT [CK_Stocktake_PhysicalQty] CHECK  (([PhysicalQty] IS NULL OR [PhysicalQty]>=(0)))
GO
ALTER TABLE [dbo].[Stocktake_Details] CHECK CONSTRAINT [CK_Stocktake_PhysicalQty]
GO
ALTER TABLE [dbo].[Stocktake_Details]  WITH CHECK ADD  CONSTRAINT [CK_Stocktake_SystemQty] CHECK  (([SystemQty]>=(0)))
GO
ALTER TABLE [dbo].[Stocktake_Details] CHECK CONSTRAINT [CK_Stocktake_SystemQty]
GO
ALTER TABLE [dbo].[Stocktakes]  WITH CHECK ADD  CONSTRAINT [CK_Stocktakes_Status] CHECK  (([Status]=N'Cancelled' OR [Status]=N'Posted' OR [Status]=N'Draft'))
GO
ALTER TABLE [dbo].[Stocktakes] CHECK CONSTRAINT [CK_Stocktakes_Status]
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[TransactionReasons]  WITH CHECK ADD  CONSTRAINT [CK_TransactionReasons_Scope] CHECK  (([Scope]='B' OR [Scope]='O' OR [Scope]='I'))
GO
ALTER TABLE [dbo].[TransactionReasons] CHECK CONSTRAINT [CK_TransactionReasons_Scope]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([TransactionType]='O' OR [TransactionType]='I'))
GO
